@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.galleryDiv {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-OUkQk9bTKIDRkKfSnH4YWy20UqAX6QyaxA&s");
  background-repeat: no-repeat;
  background-size: cover;
}
